:root {
  --base: #000000;
  --second-text-color: #181823;
  --lightGrey: #8491a0;
  --darkGrey: #5b6876;
  --text: #ffffff;
  --primary: #5221e6;
  --greenAccent: #3cc74e;
  --blueAccent: #609bff;
  --pinkAccent: #e95d90;
  --peachAccent: #fff3e4;
  --violetAccent: #fbe4ff;
}
