<footer class="footer">
  <div class="container">
    <div>
       <a href="./index.html" class="logo">
        <svg class="" width="130.72" height="40">
          <use href="./images/logo.svg"></use>
        </svg>
    </div>
    <ul>
      <li>
        <div>
          <a href="">
          <svg width="24" height="24">
            <use href="./images/svg.svg#icon-footer1"></use>
          </svg>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="">
          <svg width="24" height="24">
            <use href="./images/svg.svg#icon-footer2"></use>
          </svg>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="">
          <svg width="24" height="24">
            <use href="./images/svg.svg#icon-footer3"></use>
          </svg>
          </a>
        </div>
      </li>
    </ul>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Work</a></li>
      <li><a href="">Process</a></li>
      <li><a href="">Store</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Reading List</a></li>
    </ul>
    <p>Not Copyright 2020 • Robin Williams. Webflow cloneable</p>
  </div>
</footer>
