<section class="hero section-two">
  <div class="container">
    <div class="row flex-md-row align-items-center g-5">
      <div class="col-10 col-sm-8 col-md-6">
        <img src="/src/images/img.jpg/hero-desk1x-min.jpg" class="d-block img-fluid" alt="Portret" width="750" height="650" loading="lazy">
    <!-- <img
      class="d-block mx-lg-auto img-fluid"
      scrset="./images/img.jpg/heromob1x-min.jpg 1x, ./images/img.jpg/heromob2x-min.jpg 2x"
      src="./images/img.jpg/heromob1x-min.jpg"
      alt="Portrait"
      width="360"
      height="288"
    /> -->
    <!-- <picture>
                <source scrset="/src/images/img.jpg/hero-desk1x-min.jpg 1x,  /src/images/img.jpg/hero-desk2x-min.jpg 2x" media="(min-width:1200px)">
                <source scrset="/src/images/img.jpg/hero-tab1x-min.jpg 1x, /src/images/img.jpg/hero-tab2x-min.jpg 2x" media="(min-width:768px)">
                <source scrset="/src/images/img.jpg/heromob1x-min.jpg 1x, /src/images/img.jpg/heromob2x-min.jpg 2x" media="(max-width:767px)">
                <img class="img-fluid" src="/src/images/img.jpg/hero-desk1x-min.jpg" alt="Portret" width="750" height="650">
              </picture> -->
  </div>
  <div class="col-md-6">
    <h1 class="hero-title display-5 fw-bold lh-1 mb-3">
      I’m Robin Williams. A Product Designer,
      <span class="hero-title-end">based in Italy.</span>
    </h1>
    <p class="hero-text lead">
      I’m probably the most passionate designer you will ever get to work with.
      If you have a great project that needs some amazing skills, I’m your guy.
    </p>
  </div>
  </div>
  </div>
</section>