<Section class="work section">
  <div class="container">
    <p class="section-label">MY PROJECTS</p>
    <h2 id="work" class="section-title">Work that I’ve done for the past 8 years</h2>
        <div class="work-cards row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card h-100">
              <!-- <img class="card-img-top" src="./images/img.jpg/work_mob1_1x-min.jpg" alt="Laptop"> -->
              <img class="card-img-top" src="./images/img.jpg/work_tab1_1x-min.jpg" alt="Laptop">
              
              <!-- <img
              class="card-img-top"
              scrset="./images/img.jpg/work_mob1_1x-min.jpg 1x, ./images/img.jpg/work_mob1_2x-min.jpg 2x"
              src="./images/img.jpg/work_mob1_1x-min.jpg"
              alt="Laptop"
              width="320"
              height="400"
              /> -->
              <!-- <picture>
                <source scrset="./images/img.jpg/work_deck1_1x-min.jpg 1x, ./images/img.jpg/work_desk1_2x-min.jpg 2x" media="(min-width:1200px)">
                <source scrset="./images/img.jpg/work_tab1_1x-min.jpg 1x, ./images/img.jpg/work_tab1_2x-min.jpg 2x" media="(min-width:768px)">
                <source scrset="./images/img.jpg/work_mob1_1x-min.jpg 1x, ./images/img.jpg/work_mob1_2x-min.jpg 2x" media="(max-width:767px)">
                <img class="card-img-top" src="./images/img.jpg/work_deck1_1x-min.jpg" alt="Laptop">
              </picture> -->
              <div class="card-body">
                <h3 class="card-title">Restaurant Website Design</h3>
                <p class="card-text">
                  I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="./images/img.jpg/work_tab2_1x-min.jpg" alt="Laptop">

              <!-- <img
              class="card-img-top"
              scrset="./images/img.jpg/work_mob2_1x-min.jpg 1x, ./images/img.jpg/work_mob2_2x-min.jpg 2x"
              src="./images/img.jpg/work_mob2_1x-min.jpg"
              alt="Mobile phone"
              width="320"
              height="400"
              /> -->
              <div class="card-body">
                <h3 class="card-title">Restaurant Website Design</h3>
                <p class="card-text">I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="./images/img.jpg/work_tab3_1x-min.jpg" alt="Laptop">

              <!-- <img
              class="card-img-top"
              scrset="./images/img.jpg/work_mob3_1x-min.jpg 1x, ./images/img.jpg/work_mob3_2x-min.jpg 2x"
              src="./images/img.jpg/work_mob3_1x-min.jpg"
              alt="Mobile phone"
              width="320"
              height="400"
              /> -->
              <div class="card-body">
                <h3 class="card-title">Restaurant Website Design</h3>
                <p class="card-text">
                  I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="./images/img.jpg/work_tab4_1x-min.jpg" alt="Laptop">

              <!-- <img
              class="card-img-top"
              scrset="./images/img.jpg/work_mob4_1x-min.jpg 1x, ./images/img.jpg/work_mob4_2x-min.jpg 2x"
              src="./images/img.jpg/work_mob4_1x-min.jpg"
              alt="Part of webpage"
              width="320"
              height="400"
              /> -->
              <div class="card-body">
                <h3 class="card-title">Restaurant Website Design</h3>
                <p class="card-text">
                  I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="x-auto text-center">
        <button type="button" class="btn btn-outline-primary work-btn">VIEW ALL PROJECTS</button>
      </div>
</Section>



