<section class="contact">
  <div class="container">
    <h2 id="contact">Let’s get started</h2>
    <p>
      Now that you know a lot about me, let me know if you are interested to
      work with me.
    </p>
    <form action="">
      <div>
        <label for="formInput1">Name</label>
        <input type="name" id="formInput1" />
      </div>
      <div>
        <label for="formInput2">Email</label>
        <input type="email" id="formInput2" />
      </div>
      <div>
        <label for="formTextarea">Message</label>
        <textarea name="" id="formTextarea" cols="30" rows="10"></textarea>
      </div>
      <div><button type="submit">Let’s get started</button></div>
    </form>
  </div>
</section>
