<section class="dribbble">
  <div class="container">
    <h3>Dribbble</h3>
    <p>
      Each dribbble shot is made with love and care. Do check out my work on
      Dribbble. Likes and comments are appreciated.
    </p>
    <a href="https://dribbble.com/" target="_blank" rel="noopener noreferrer"
      >Follow me on Dribbble</a
    >
    <img
      scrset="./images/img.jpg/dribbble_mob1x-min.jpg 1x, ./images/img.jpg/dribbble_mob2x-min.jpg 2x"
      src="./images/img.jpg/dribbble_mob1x-min.jpg"
      alt="webpage model picture"
      width="320"
      height="480"
    />
  </div>
</section>
