<h2>work experience</h2>
<h3>Companies I have worked for in the past</h3>
<div>
  <p>01</p>
  <p><span>Google</span>, Interaction Designer</p>
  <p>
    I currently am the lead designer on the interaction design team for Google
    Play.
  </p>
</div>
<div>
  <p>02</p>
  <p><span>Facebook</span>, Product Designer</p>
  <p>
    I’ve worked on a wide variety of internal tools for facebook over the past 6
    years.
  </p>
</div>
<div>
  <p>03</p>
  <p><span>Dribbble</span>, Graphic Designer</p>
  <p>
    I started my design career with Dribbble. I was incharge of creating
    illustrations for the platform.
  </p>
</div>
