<section class="experience">
  <div class="container">
    <h2 id="work_experience" class="experience_first-title">Work experience</h2>
    <h3 class="experience_second-title">
      Companies I have worked for in the past
    </h3>
    <ul class="experience_list">
      <li class="experience_item">
        <span class="experience_number">01</span>
        <h4 class="experience_third-title">
          <span class="experience_spec-title-one">Google</span>, Interaction
          Designer
        </h4>
        <p class="experience_text">
          I currently am the lead designer on the interaction design team for
          Google Play.
        </p>
      </li>
      <li class="experience_item">
        <span class="experience_number">02</span>
        <h4 class="experience_third-title">
          <span class="experience_spec-title-two">Facebook</span>, Product
          Designer
        </h4>
        <p class="experience_text">
          I’ve worked on a wide variety of internal tools for facebook over the
          past 6 years.
        </p>
      </li>
      <li class="experience_item">
        <span class="experience_number">03</span>
        <h4 class="experience_third-title">
          <span class="experience_spec-title-tree">Dribbble</span>, Graphic
          Designer
        </h4>
        <p class="experience_text">
          I started my design career with Dribbble. I was incharge of creating
          illustrations for the platform.
        </p>
      </li>
    </ul>
  </div>
</section>
