<section class="hero">
  <div class="container">
    <img
      scrset="./images/img.jpg/heromob1x-min.jpg 1x, ./images/img.jpg/heromob2x-min.jpg 2x"
      src="./images/img.jpg/heromob1x-min.jpg"
      alt="Portrait"
      width="360"
      height="288"
    />
    <h1 class="hero__title">
      I’m Robin Williams. A Product Designer,
      <span class="">based in Italy.</span>
    </h1>
    <p>
      I’m probably the most passionate designer you will ever get to work with.
      If you have a great project that needs some amazing skills, I’m your guy.
    </p>
  </div>
</section>
