<section class="instagram">
  <div class="container">
    <h3>Instagram</h3>
    <p>
      If you area a person who enjoys photography, then I highly recommend that
      you check out my Instagram. I’m an avid traveller and I capture the best
      moments that I would love to cherish with the world
    </p>
    <a href="https://www.instagram.com/" target="_blank">Follow me on IG</a>
    <img
      scrset="./images/img.jpg/philosophy_mob1x-min.jpg 1x, ./images/img.jpg/philosophy_mob2x-min.jpg 2x"
      src="./images/img.jpg/philosophy_mob1x-min.jpg"
      alt="Glass ball"
      width="360"
      height="450"
    />
  </div>
</section>
