<section class="people_say">
  <div class="container">
    <h3>This is what people say about me</h3>
    <p>
      Here are a few lines from people who I have worked with over the past 8+
      years in my design career.
    </p>
    <a href="" target="_blank">See all testimonials</a>
    <ul>
      <li>
        <img
          scrset="./images/img.jpg/people_say_mob1_1x-min.jpg 1x, ./images/img.jpg/people_say_mob1_2x-min.jpg 2x"
          src="./images/img.jpg/people_say_mob1_1x-min.jpg"
          alt="work on computer"
          width="332"
          height="360"
        />
        <p>
          ‘’Robin is one of the best designers I have worked with in my entire
          life. He is a designer who is very capable of taking up complex
          projects and delivers impeccable design.’’
        </p>
        <p>Richard Owens</p>
        <p>CEO, Company 1</p>
      </li>
      <li>
        <img
          scrset="./images/img.jpg/people_say_mob2_1x-min.jpg 1x, ./images/img.jpg/people_say_mob2_2x-min.jpg 2x"
          src="./images/img.jpg/people_say_mob2_1x-min.jpg"
          alt="work with team"
          width="332"
          height="360"
        />
        <p>
          ‘’I think Robin has an incredible gift. It has been an absolute
          pleasure to work with a designer of this caliber.’’
        </p>
        <p>Emily Parker</p>
        <p>CEO, Company 2</p>
      </li>
      <li>
        <img
          scrset="./images/img.jpg/people_say_mob3_1x-min.jpg 1x, ./images/img.jpg/people_say_mob3_2x-min.jpg 2x"
          src="./images/img.jpg/people_say_mob3_1x-min.jpg"
          alt="discussion with team"
          width="332"
          height="360"
        />
        <p>
          ‘’All I can say that, Robin is a phenomenal designer. The wavelength
          at which he thinks is astoundaing. I love the focus, passion and
          attention to detial in the design.’’
        </p>
        <p>Vincent Rudd</p>
        <p>CEO, Company 3</p>
      </li>
    </ul>
  </div>
</section>
