<section class="philosophy">
  <div class="container">
    <h3 class="philosophy_title">Philosophy & values</h3>
    <p class="philosophy_text">
      I think everyone wants the same thing - relationship with humanity, peace
      with the metaphysical, and experience with the universe. I try to grasp
      these things with my values: authenticity, creativity, & hospitality.
    </p>
    <a class="philosophy_link" href="" target="_blank" rel="noopener noreferrer"
      >More about me</a
    >
    <img
      class="philosophy_foto"
      scrset="./images/img.jpg/philosophy_mob1x-min.jpg 1x, ./images/img.jpg/philosophy_mob2x-min.jpg 2x"
      src="./images/img.jpg/philosophy_mob1x-min.jpg"
      alt="Glass ball"
      width="360"
      height="450"
    />
  </div>
</section>
