<section class="photography">
  <div class="container">
    <h2 id="photography">Photography</h2>
    <p>
      Here is a collection of my best travel pictures that I took while
      travelling places all around the world.
    </p>
    <ul>
      <li><button type="button">ITALY</button></li>
      <li><button type="button">AUSTRALIA</button></li>
      <li><button type="button">INDIA</button></li>
      <li><button type="button">BRAZIL</button></li>
    </ul>
    <ul>
      <li>
        <img
          scrset="./images/img.jpg/photo_mob1_1x-min.jpg 1x, ./images/img.jpg/photo_mob1_2x-min.jpg 2x"
          src="./images/img.jpg/photo_mob1_1x-min.jpg"
          alt="little street in Italy"
          width="320"
          height="420"
        />
      </li>
      <li>
        <img
          scrset="./images/img.jpg/photo_mob2_1x-min.jpg 1x, ./images/img.jpg/photo_mob2_2x-min.jpg 2x"
          src="./images/img.jpg/photo_mob2_1x-min.jpg"
          alt="gondola in Venice"
          width="320"
          height="420"
        />
      </li>
      <li>
        <img
          scrset="./images/img.jpg/photo_mob3_1x-min.jpg 1x, ./images/img.jpg/photo_mob3_2x-min.jpg 2x"
          src="./images/img.jpg/photo_mob3_1x-min.jpg"
          alt="cafe in Venice"
          width="320"
          height="420"
        />
      </li>
      <li>
        <img
          scrset="./images/img.jpg/photo_mob4_1x-min.jpg 1x, ./images/img.jpg/photo_mob4_2x-min.jpg 2x"
          src="./images/img.jpg/photo_mob4_1x-min.jpg"
          alt="landscape in Italy"
          width="320"
          height="420"
        />
      </li>
    </ul>
  </div>
</section>
