<section class="skillset">
  <div class="container">
    <h3 class="skillset_title">Skillset</h3>
    <p class="skillset_text">
      With skills in over 4 different fields of design, I am the perfect person
      to hire when it comes to a full fledged project. Whatever your needs are,
      I can pretty much take on any challenge.
    </p>
    <ul>
      <li class="skillset_item">
        <div>
          <svg width="25.54" height="32">
            <use href="./images/svg.svg#icon-skill1"></use>
          </svg>
        </div>
        <h4 class="skillset_second-title">Product Design</h4>
        <p class="skillset_text-details">
          Working at Facebook has taught me a lot about how to understand users,
          solve problems and build great products.
        </p>
      </li>
      <li class="skillset_item">
        <div>
          <svg width="32" height="32">
            <use href="./images/svg.svg#icon-Group"></use>
          </svg>
        </div>
        <h4 class="skillset_second-title">Visual Design</h4>
        <p class="skillset_text-details">
          My experience at dribbble has helped me learn to develop the eye for
          design. Colors, typography, layout and the whole package.
        </p>
      </li>
      <li class="skillset_item">
        <div>
          <svg width="32" height="32">
            <use href="./images/svg.svg#icon-skill3"></use>
          </svg>
        </div>
        <h4 class="skillset_second-title">Motion Design</h4>
        <p class="skillset_text-details">
          I started my design journey with motion design in my college days.
          Motion is something that really fascinates me because of the
          flexibility of story telling.
        </p>
      </li>
      <li class="skillset_item">
        <div>
          <svg width="32" height="32">
            <use href="./images/svg.svg#icon-skill4"></use>
          </svg>
        </div>
        <h4 class="skillset_second-title">Photography</h4>
        <p class="skillset_text-details">
          Clicking pictures really brings out the creative in me. Phtography
          really makes you look and percieve things in a different way.
        </p>
      </li>
    </ul>
    <ul class="skillset_list">
      <li>
        <div class="skillset_icon">
          <svg width="85" height="21">
            <use href="./images/svg.svg#icon-ex1"></use>
          </svg>
        </div>
      </li>
      <li>
        <div class="skillset_icon">
          <svg width="71" height="29">
            <use href="./images/svg.svg#icon-ex2"></use>
          </svg>
        </div>
      </li>
      <li>
        <div class="skillset_icon">
          <svg width="28" height="28">
            <use href="./images/svg.svg#icon-ex3"></use>
          </svg>
        </div>
      </li>
      <li>
        <div class="skillset_icon">
          <svg width="21" height="21">
            <use href="./images/svg.svg#icon-ex4"></use>
          </svg>
        </div>
      </li>
      <li>
        <div class="skillset_icon">
          <svg width="154" height="25">
            <use href="./images/svg.svg#icon-ex5"></use>
          </svg>
        </div>
      </li>
      <li>
        <div class="skillset_icon">
          <svg width="41.51" height="21">
            <use href="./images/svg.svg#icon-ex6"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
