<section class="work">
  <div class="container">
    <h2 id="work">MY PROJECTS</h2>
    <h3>Work that I’ve done for the past 8 years</h3>
    <ul>
      <li>
        <img
          scrset="./images/img.jpg/work_mob1_1x-min.jpg 1x, ./images/img.jpg/work_mob1_2x-min.jpg 2x"
          src="./images/img.jpg/work_mob1_1x-min.jpg"
          alt="Laptop"
          width="320"
          height="400"
        />
        <h4>Restaurant Website Design</h4>
        <p>
          I worked with the guys at CBRE to redesign their entire website and
          mobile app fro both Android and iOS. This project lasted for 4 months
          and was a very challenging one.
        </p>
      </li>
      <li>
        <img
          scrset="./images/img.jpg/work_mob2_1x-min.jpg 1x, ./images/img.jpg/work_mob2_2x-min.jpg 2x"
          src="./images/img.jpg/work_mob2_1x-min.jpg"
          alt="Mobile phone"
          width="320"
          height="400"
        />
        <h4>Restaurant Website Design</h4>
        <p>
          I worked with the guys at CBRE to redesign their entire website and
          mobile app fro both Android and iOS. This project lasted for 4 months
          and was a very challenging one.
        </p>
      </li>
      <li>
        <img
          scrset="./images/img.jpg/work_mob3_1x-min.jpg 1x, ./images/img.jpg/work_mob3_2x-min.jpg 2x"
          src="./images/img.jpg/work_mob3_1x-min.jpg"
          alt="Mobile phone"
          width="320"
          height="400"
        />
        <h4>Restaurant Website Design</h4>
        <p>
          I worked with the guys at CBRE to redesign their entire website and
          mobile app fro both Android and iOS. This project lasted for 4 months
          and was a very challenging one.
        </p>
      </li>
      <li>
        <img
          scrset="./images/img.jpg/work_mob4_1x-min.jpg 1x, ./images/img.jpg/work_mob4_2x-min.jpg 2x"
          src="./images/img.jpg/work_mob4_1x-min.jpg"
          alt="Part of webpage"
          width="320"
          height="400"
        />
        <h4>Restaurant Website Design</h4>
        <p>
          I worked with the guys at CBRE to redesign their entire website and
          mobile app fro both Android and iOS. This project lasted for 4 months
          and was a very challenging one.
        </p>
      </li>
    </ul>
  </div>
</section>
