.experience {
  padding-top: 48px;
  padding-bottom: 48px;
}

.experience_first-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  // display: flex;
  // align-items: center;
  text-transform: uppercase;
  color: var(--lightGrey);
}

.experience_second-title {
  margin-top: 8px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  // display: flex;
  // align-items: center;
}

.experience_item {
  margin-top: 40px;
}

.experience_number {
  font-weight: 400;
  font-size: 117px;
  line-height: 1.2;
  // display: flex;
  // align-items: center;
  color: var(--lightGrey);
}

.experience_third-title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  // display: flex;
  // align-items: center;
}

.experience_spec-title-one {
  color: var(--greenAccent);
}

.experience_spec-title-two {
  color: var(--blueAccent);
}

.experience_spec-title-tree {
  color: var(--pinkAccent);
}

.experience_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  // display: flex;
  // align-items: center;
  color: var(--lightGrey);
}
