.skillset {
  padding-top: 78px;
}

.skillset_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  // display: flex;
  // align-items: center;
}

.skillset_text {
  margin-top: 16px;
  margin-bottom: 21px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  // display: flex;
  // align-items: center;
  color: var(--lightGrey);
}

.skillset_item {
  margin-top: 48px;
}

.skillset_second-title {
  margin-top: 24px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  // display: flex;
  // align-items: center;
}

.skillset_text-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  // display: flex;
  // align-items: center;
  color: var(--lightGrey);
}
.skillset_list {
  margin-top: 64px;
}
.skillset_icon {
  width: 180px;
  height: 140px;
  border: 1px solid var(--text);
}
