.work {
  padding-top: 64px;
  padding-bottom: 70px;
}
.work_title-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  // display: flex;
  // align-items: center;
  text-transform: uppercase;
  color: var(--lightGrey);
}
.work_title-second {
  margin-top: 8px;
  margin-bottom: 80px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  // display: flex;
  // align-items: center;
}
.work_item {
  margin-bottom: 48px;
  // накладається з марджинои тексту - gap?
  // тре забраи ост відступ, бо там падінг є
  background: var(--second-text-color);
}
.work_title-third {
  margin-top: 40px;
  margin-bottom: 13px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  // display: flex;
  // align-items: center;
}
.work_text {
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  // display: flex;
  // align-items: center;
  color: var(--lightGrey);
}
